<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant Apps Starter Project</title>
</head>

<body>
  <a href="#mainContent" class="skip-link">Menuju ke konten</a>
  <header>
    <nav>
      <div class="logo">
        <img src="./images/assets/caraousel.png" alt="Restaurant Catalog App" width="120">
      </div>
      <div class="mobile-menu" id="mobile-menu">
        <ul class="menu">
          <li><a href="#">Home</a></li>
          <li><a href="#">Favorite</a></li>
          <li><a href="https://github.com/wendikardian">About Us</a></li>
        </ul>
      </div>
    </nav>
    <div class="menu-div">
      <a id="menu" class="header__menu">☰</a>
    </div>
  </header>
  <main id="mainContent">
    <section class="hero">
      <img src="./images/heros/hero-image_1.jpg" alt="Restaurant Catalog App" width="120">
      <div class="caption-hero" tabindex="0">
        <h1 class="title-hero" tabindex="0">Welcome to Carousel Restorant </h1>
        <p class="caption-desc" tabindex="0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad excepturi
          minus temporibus minima. Ratione quod magni accusantium, magnam, saepe perferendis molestias iure nisi quas
          omnis molestiae? Mollitia, cumque? Corrupti, voluptates.</p>
      </div>
    </section>
    <section class="restaurant-list" id="restaurant-list">
      <h1 class="title-restaurant">Explore here</h1>
      <div class="restaurant-container" id="restaurant-container">
      </div>
    </section>
  </main>
  <footer>
    <p tabindex="0">Copyright © 2020 - Hunger Apps</p>
  </footer>
</body>

</html>